div {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  button {
    margin: 5px;
  }